<nav class="p-6 py-3.5 border-neutral-200 dark:border-neutral-600 mb-4 grid grid-cols-12">
  <div class="sm:col-span-6 col-span-6 flex gap-5 items-center justify-start">
    <% if Current.user.plan.present? %>
      <%= link_to "Plan", root_path, class: "hover:text-black dark:hover:text-white text-neutral-600 dark:text-neutral-300 hover:opacity-100 p-0! border-none! font-normal!" %>
      <%= link_to "Settings", root_path(tab: "settings"), class: "hover:text-black dark:hover:text-white text-neutral-600 dark:text-neutral-300 hover:opacity-100 p-0! border-none! font-normal!" %>
    <% end %>
  </div>
  <div class="sm:col-span-6 col-span-6 flex gap-5 items-center justify-end">
    <%= button_to "Sign out", session_path, method: :delete, class: "bg-transparent! text-neutral-600 dark:text-neutral-300 hover:text-black dark:hover:text-white hover:opacity-100 p-0! border-none! font-normal!" %>
    <%= render "shared/theme_toggle" %>
  </div>
</nav>
