<h1>Plan#show</h1>
<p>Find me in app/views/plan/show.html.erb</p>
<% if @plan.persisted? %>
  <%= @plan.id %>
<% else %>
  <%= form_with model: @plan do |form| %>
    <%= form.select :plan_type, Plan.plan_types.keys.map { |k| [k.humanize.titleize, k] }, { include_blank: "Select a plan" } %>
    <%= form.submit %>
  <% end %>
<% end %>
